﻿@page "/brand"
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.eShopWeb.ApplicationCore.Entities;
@using AdminWebApplication.Utility
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <label>
                                    Brand Name:
                                    <input @bind="_brand" />
                                </label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
                    <button type="submit" class="btn btn-primary" disabled="@(!IsConnected)" @onclick="CreateClick">
                        Create
                    </button>
                </div>
        </div>
    </div>
</div>



@code {
    private HubConnection hubConnection;
    private string _badFileMessage = string.Empty;
    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showCreateModal = false;
    [Parameter]
    public EventCallback<string> OnSaveClick { get; set; }

    private string _brand;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/brandhub"))
            .Build();

        await hubConnection.StartAsync();
    }

    private async Task CreateClick()
    {
        await InsertBrand();
        await Close();
    }

    async Task InsertBrand() =>
        await hubConnection.SendAsync("InsertBrand", _brand);

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    public async Task Open()
    {
        //await new Css(JSRuntime).HideBodyOverflow();

        _modalDisplay = "block;";
        _modalClass = "Show";
        _showCreateModal = true;

        StateHasChanged();
    }

    private async Task Close()
    {
        //await new Css(JSRuntime).ShowBodyOverflow();
        _modalDisplay = "none";
        _modalClass = "";
        _showCreateModal = false;
    }
}
