﻿@page "/admin/brand"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@using Microsoft.eShopWeb.ApplicationCore.Entities;
@using AdminWebApplication.Utility
@using Microsoft.eShopWeb.ApplicationCore.Interfaces
@inject NavigationManager NavigationManager

<h1>Manage Product Catalog Brand</h1>

@if (catalogBrands == null)
{
    <Spinner></Spinner>
}
else
{

    <p class="esh-link-wrapper">
        <button class="btn btn-primary"  @onclick="@(CreateClick)">
            Create New
        </button>
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in catalogBrands)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Brand</td>
                    <td>
                        <button class="btn btn-primary">
                            Edit
                        </button>
                        <button class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Add @ref="AddComponent"></Add>
}

@code {
    private List<CatalogBrand> catalogBrands = new List<CatalogBrand>();
    private HubConnection hubConnection;
    private Add AddComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/brandhub"))
            .Build();

        hubConnection.On<string, CatalogBrand>("InsertReceiveMessage", (status, message) =>
        {
            if ("Success".Equals(status))
            {
                catalogBrands.Add(message);
            }
            if ("Fail".Equals(status))
            {
                
            }
            StateHasChanged();
        });


        await hubConnection.StartAsync();
    }
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            catalogBrands = new List<CatalogBrand>();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task CreateClick()
        {
            await AddComponent.Open();
        }

}
